main {
    background-color: #fff8e6;
    padding-bottom: 50px;
    
}

.title {
    color: #810202;
    font-size: 50px;
    padding-top: 70px;
    padding-left: 200px;
}

hr {
    width: 130px;
    border: rgb(126, 126, 60) 2px solid;
    margin-left: 200px;
    margin-bottom: 20px;
}

.container {
    padding: 0 200px;
}

.galleryImage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
        "noodle1 noodle2 noodle3 noodle3"
        "noodle1 noodle4 noodle5 noodle6"
        "noodle7 noodle7 noodle8 noodle6";
}

.galleryImage a {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* 用flex - 让icon在图片的正中央 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* <a>是特殊的，会在文字下出现蓝色下划线，所以要去掉 */
    text-decoration: none;
}

header{
    z-index: 2; 
    /*滑动时让header在图片的上面 */
}

.galleryImage a i {
    color: rgba(255, 255, 255, 0.6);
    font-size: 40px;
    position: relative;
    z-index: 1;
    padding: 10px 30px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.galleryImage a::before {
    /* 做一个半透明黑色遮盖 */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s;
}

.galleryImage a:hover i,
.galleryImage a:hover::before{
    opacity: 1;
}

.noodle1{
    grid-area: noodle1;
    min-height: 615px; /* 300px(height of .galleryImage a)*2 + 15px(grid-gap) */
    background-image: url("images/gallery/noodle1.jpg");
}

.noodle2{
    grid-area: noodle2;
    background-image: url("images/gallery/noodle2.jpg");
}

.noodle3{
    grid-area: noodle3;
    background-image: url("images/gallery/noodle3.jpg");
}

.noodle4{
    grid-area: noodle4;
    background-image: url("images/gallery/noodle4.jpg");
}

.noodle5{
    grid-area: noodle5;
    background-image: url("images/gallery/noodle5.jpg");
}

.noodle6{
    grid-area: noodle6;
    min-height: 615px; /* 300px(height of .galleryImage a)*2 + 15px(grid-gap) */
    background-image: url("images/gallery/noodle6.jpg");
}

.noodle7{
    grid-area: noodle7;
    background-image: url("images/gallery/noodle7.jpg");
}

.noodle8{
    grid-area: noodle8;
    background-image: url("images/gallery/noodle8.jpg");
}